.homeContainer {
  padding: 2rem 4rem;

  h6 {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 2px;
  }

  //mobile screen
  @media all and (max-width: 769px) {
    padding: 1rem;
  }
}

.searchContainer {
  padding: 2rem 0rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 6px;

  @media all and (max-width: 769px) {
    max-width: 100%;
  }
}
