.repositoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  //mobile screen
  @media all and (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
